body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}
p, ol, ul, td {
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

a {
    color: #000;
}

th {
    padding-bottom: 5px;
}


div.field, div.actions {
    margin-bottom: 10px;
}

label {
    display: block;
}

#notice {
    color: green;
}

td {
    padding-bottom: 7px;
    padding-left: 5px;
    padding-right: 5px;
}

#error_explanation {
    width: 450px;
    border: 2px solid red;
    padding: 7px;
    padding-bottom: 0;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}

